[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
dotenv = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
python-dotenv = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
start="flask run --host=0.0.0.0 --port=8080"
