
* {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.2px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #f0f0f0; /* o el fondo que quieras para la página */
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

